window {
    margin: 0px;
    border: 2px solid #a68528;
    background-color: rgba(26, 43, 28, 0.9);
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: transparent;
}

#input {
    margin: 5px;
    border: 1px solid #a68528;
    color: #d4af37;
    background-color: rgba(36, 59, 39, 0.8);
    border-radius: 8px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #d4af37;
}

#entry:selected {
    background-color: #243b27;
    border-radius: 8px;
    outline: none;
}

#text:selected {
    color: #ffffff;
}

#img {
    margin-right: 10px;
}